
/* Your CSS Code here. */
.green{
	width:100px;
	height:100px;
	background-color:green;
}
.holder{
	display:flex;
	justify-content:center;
	flax-wrap:wrap;
}

.red{
	width:100px;
	height:100px;
	background-color:red;
}
.blue{
	width:100px;
	height:100px;
	background-color:blue;
}